<Configuration status="WARN">
<Properties>
<Property name="LOG_DIR">logs</Property>
<Property name="LOG_FILE">automation.log</Property>
</Properties>
<Appenders>
<!--  Console  -->
<Console name="Console" target="SYSTEM_OUT">
<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level [%t] %c{1} - %msg%n"/>
</Console>
<!--  SINGLE FILE for ALL tests  -->
<RollingFile name="FileLogger" fileName="${LOG_DIR}/${LOG_FILE}" filePattern="${LOG_DIR}/automation-%d{yyyy-MM-dd}.log.gz">
<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level [%t] %c{1} - %msg%n"/>
<Policies>
<TimeBasedTriggeringPolicy interval="1"/>
<SizeBasedTriggeringPolicy size="10MB"/>
</Policies>
<DefaultRolloverStrategy max="7"/>
</RollingFile>
</Appenders>
<Loggers>
<Logger name="exam2" level="info" additivity="false">
<AppenderRef ref="Console"/>
<AppenderRef ref="FileLogger"/>
</Logger>
<!--  Root fallback  -->
<Root level="info">
<AppenderRef ref="Console"/>
<AppenderRef ref="FileLogger"/>
</Root>
</Loggers>
</Configuration>