<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>

        <!-- Console -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- Rolling File -->
        <RollingFile
            name="FileLogger"
            fileName="logs/execution.log"
            filePattern="logs/execution-%d{yyyy-MM-dd_HH-mm-ss}.log">

            <PatternLayout>
                <Pattern>
                    %d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n
                </Pattern>
            </PatternLayout>

            <Policies>
                <!-- New file every test run -->
                <OnStartupTriggeringPolicy/>
            </Policies>

        </RollingFile>

    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Root>
    </Loggers>

</Configuration>